* {
    margin: 0;
}

:root {
    --main-accent2: #e9f4ff;
    --main-accent: #cad6df;
    --main-color: #325875;
    --main-shade: #334A5C;
    --main-shade2: #07131d;

    --compliment-accent2: #fffaf4;
    --compliment-accent: #f5d9af;
    --compliment-color: #DBB57B;
    --compliment-shade: #8F6A33;
    --compliment-shade2: #684a1d;

    --dark-font: #4F565C;
    --light-font: #666f77;
}

body {
    background-color: var(--compliment-accent2);
}

h1,
h2,
h3 {
    color: var(--dark-font);
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0;
}

h1 {
    text-align: center;
    font-size: 2.7em;
}

h2 {
    text-decoration: underline;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p,
li,
a {
    color: var(--light-font);
    font-family: 'Roboto Slab', serif;
}

.img {
    width: 100%;
}

.navbar-brand img {
    width: 200px;
    /* Turn a black image into our accent color! */
    filter: brightness(0.9) invert(.6) sepia(.5) hue-rotate(350deg) saturate(200%);
}

.nav-link {
    display: inline;
    margin: 0 10px;
    transition: font-size .5s, color .5s;
    color: var(--compliment-color) !important;
}

.active a {
    color: var(--compliment-accent) !important;
}

.nav-link:hover {
    color: var(--compliment-accent2) !important;
    font-size: 1.05em;
}

.page {
    margin: 10px 10px;
}

/* HEADER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.weekly-header {
    display: flex;
    justify-content: flex-end;
    height: 500px;
}

.weekly-header-text {
    display: flex;
    flex-direction: column;
    background-color: var(--main-accent);
    border: 5px solid var(--main-color);
    border-radius: 50px;
    justify-content: center;
    padding: 30px;
    flex: 2;
}

.weekly-header-text h1 {
    margin: 10px 0;
    font-size: 3em;
}

.weekly-header-text a {
    display: inline;
    text-align: right;
}

.weekly-header-image {
    flex: 3;
    background-image: url(images/jennifer.jpg);
    background-position: 50% 20%;
    background-size: cover;
    border-radius: 50px;
    border: 5px solid var(--main-color);

}

img {
    object-fit: cover;
    width: 100%;
}


/* TEASER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.teaser-list {
    padding: 5px 14px;
    background-color: var(--main-color);
    border-radius: 20px;
}

.teaser-container {
    border: 5px solid var(--compliment-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: border-radius 1s;
    margin: 10px 0px;
    height: auto;
    background-image: url(images/attention.png);
    background-size: cover;
    background-position: center;
    backdrop-filter: grayscale(100%);
    transition: border-radius 1s;
}

.blur-filter {
    position: absolute;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    border-radius: 50px;
    backdrop-filter: blur(5px) grayscale(100%);
    transition: border-radius 1s, backdrop-filter 1s;
}

.teaser-container:hover {
    border-radius: 10px;
}

.teaser-container:hover .blur-filter {
    border-radius: 10px;
    backdrop-filter: blur(0px) grayscale(0%);
}



.bell-ringer {
    background-image: url(images/whiteboard.jpg);
}

.attention {
    background-image: url(images/attention.png);
}

.quiz {
    background-image: url(images/quiz.jpg);
}

.test {
    background-image: url(images/test.jpg);
}

.teaching-technique {
    background-image: url(images/learning-style.jpg);
}

.online {
    background-image: url(images/online.jpg);
}

.teaser-text {
    position: relative;
    background-color: var(--main-accent2);
    border-radius: 5px;
    margin: 25px;
}

.teaser-text h3,
p {
    text-align: center;
    padding: 0px 10px;
    margin: 0px 0px;
}

/* ARTICLE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.article {
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 25px;
    border: 5px solid var(--main-shade);
    margin-bottom: 10px;
}

.article img {
    height: 500px;
    object-position: center;
    border-radius: 25px;
    border: 5px solid var(--compliment-color);
}

.article-text {
    background-color: var(--main-accent2);
    padding: 10px;
    border-radius: 25px;
    border: 5px solid var(--compliment-color);
    margin-top: 10px;
}

/* EUROPEANA~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.europeana_form {
    display: flex;
    align-items: center;
    justify-content: center;
}

p a {
    text-decoration: underline;
}

#europeana_results {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.e_search_item {
    margin: 10px auto;
    border: 5px solid var(--main-color);
    background-color: var(--main-accent2);
    border-radius: 25px;
    width: 400px;
    height: 600px;
    transition: width .3s, background-color .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.e_search_item:hover {
    width: 410px;
    background-color: white;
    text-decoration: none;
}

.e_search_item img {
    height: 300px;
    width: 93%;
    margin: 10px 0;
    border-radius: 10px;
    border: 5px solid var(--compliment-color);
}

.e_search_item h3 {
    text-align: center;
}

.e_country {
    text-align: center;
}

.e_search_item p {
    text-align: left;
}

.footer {
    display: flex;
    text-align: center;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer img {
    width: 40px;
    /* Turn a black image into our accent color! */
    filter: brightness(0.9) invert(.6) sepia(.5) hue-rotate(350deg) saturate(200%);
}

.footer a {
    color: var(--compliment-accent);
    transition: color .5s, font-size .5s;
    text-decoration: none;
}

.footer:hover {
    color: var(--compliment-accent2);
    font-size: 1.1em;
}

@media screen and (min-width: 1600px) {
    .weekly-header {
        height: 700px;
    }
}

@media screen and (max-width: 1100px) {
    .weekly-header {
        height: auto;
    }
}

@media screen and (max-width: 850px) {
    .weekly-header {
        flex-direction: column-reverse;
        height: 1000px;
    }

    .weekly-header-text {
        flex: 1;
        width: auto;
    }

    .weekly-header-image {
        flex: 1;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {}